.card {
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0 0;
}

.card__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 294px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #212121;
  margin: 0;
}

.card__like-btn {
  background: transparent url(../images/heart.svg) center no-repeat;
  width: 23px;
  height: 20px;
  border: none;
  opacity: 0.4;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 1;
}

.card__like-btn_liked {
  background-image: url(../images/Liked.svg);
  opacity: 1;
}

.card__like-btn_liked:hover {
  background-image: url(../images/Liked-hover.svg);
}

.card__delete-btn {
  background: transparent url(../images/delete-btn.svg) center no-repeat;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 18px;
  right: 15px;
  border: none;
  cursor: pointer;
}

.card__delete-btn:hover {
  background-image: url(../images/delete-btn-hover.svg);
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    font-size: 16px;
    line-height: 100%;
  }

  .card__like-btn {
    width: 20px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .card__content {
    max-width: 288px;
  }
}
