.cards {
  padding-top: 20px;
}

.cards__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: REPEAT(auto-fit, 413px);
  justify-content: center;
  gap: 40px 20px;
}
